.container {
    background-color: #095557;
}
a :hover {
    color: aliceblue;
    text-decoration: none;
}
#reseña {
    width: 1000px;
    text-align: center;
    margin-left: 150px;
}
.carre {
    width: 700px;
    margin-left: 250px;
}
.carousel-inner {
    width:600px;
    margin-left: 350px;
}