nav {
    background-color: black;
}
.container-fluid {
    background-color: #095557;
}
.btn-outline-success {
    background-color: white;
}
.carousel-slide {
    width: 100px;
}
#reseña {
    width: 1000px;
    text-align: center;
    margin-left: 150px;
}